<div class="register-container">
  <div class="register-form">
    <h2>Đăng ký</h2>
    <p style="color: #888;">Tạo tài khoản để trải nghiệm lộ trình học hot nhất</p>
    <form>
      <label for="fname">Họ:</label>
      <input type="text" id="fname" required>

      <label for="lname">Tên:</label>
      <input type="text" id="lname" required>

      <label for="email">Email:</label>
      <input type="email" id="email" required>

      <label for="password">Mật khẩu:</label>
      <input type="password" id="password" required>

      <label for="password">Nhập lại mật khẩu:</label>
      <input type="password" id="password" required>

      <label class="terms-conditions">
        <input type="checkbox">Tôi đồng ý với tất cả các <b>Điều khoản và Chính sách quyền riêng tư</b>
      </label>

      <p><button type="submit">Tạo tài khoản</button></p>
      
      <p style="text-align: center">Bạn đã có tài khoản? <a class="register-link" routerLink="/login">Đăng nhập</a></p>
      
      <label class="or-register">Hoặc đăng ký bằng</label>
      
      <div class="register-options">
        <div class="register-option register-option-google">
        </div>
        <div class="register-option register-option-facebook">
        </div>
      </div>
    </form>
  </div>

  <div class="register-image"></div>
</div>
