<div class="navbar">
    <div class="logo">
      <button (click)="goBack()" class="go-back-button">Quay lại Dashboard</button>
    </div>
    <div class="nav-links"> <h1>Quản lý bài thi</h1> </div>
    <div class="user-menu">
      <i class="fas fa-question-circle" style="margin-right: 20px;"></i>
      <i class="fas fa-bell" style="margin-right: 20px;"></i>
      <img src="../../assets/img/skeleton-icon.png" alt="User Avatar" height="40" width="40" (click)="toggleDropdown()">
      <div class="dropdown" [class.active]="isDropdownActive">
        <div class="profile">
          <img src="../../assets/img/skeleton-icon.png" alt="User Avatar" height="50" width="50">
          <div class="info">
            <div class="name">{{ user?.username }}</div>
            <div class="email">{{ user?.email }}</div>
          </div>
        </div>
        <div class="menu">
          <a href="/profile"><i class="fas fa-user-graduate"></i> Thông tin cá nhân</a>
          <a href="#"><i class="fas fa-cog"></i> Cài đặt chung</a>
          <a href="#" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
        </div>
      </div>
    </div>
  </div>

<table>
  <thead>
    <tr>
      <th>Tên bài thi</th>
      <th>Ngày bắt đầu</th>
      <th>Ngày kết thúc</th>
      <th>Trạng thái</th>
      <th>Hành động</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let exam of exams">
      <td>{{ exam.name }}</td>
      <td>{{ exam.startDate | date: 'short' }}</td>
      <td>{{ exam.endDate | date: 'short' }}</td>
      <td>{{ exam.status }}</td>
      <td>
        <button (click)="viewExamDetails(exam)">Xem chi tiết</button>
        <button (click)="deleteExam(exam)">Xóa</button>
      </td>
    </tr>
  </tbody>
</table>
