<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <i class="fa-solid fa-chevron-left"></i>
            <ul class="navbar-nav me-auto mb-4 mb-lg-0">
                <li class="nav-item ms-4">
                    <a class="nav-link active" aria-current="page" href="/home">TRANG CHỦ</a>
                </li>
                <!-- Thêm các liên kết khác ở đây -->
            </ul>
        </div>
    </div>
</nav>
