<div class="navbar">
  <div class="logo">
    <img src="../../assets/img/qye-challenge-logo.png" alt="Logo" height="30" width="30">
    <span>Quiz your English Challenge</span>
  </div>
  <div class="nav-links">
    <a href="/student-dashboard" class="active">Bài kiểm tra</a>
    <a href="/exam-student">Lịch sử làm bài</a>
    <a href="/class-student">Lớp</a>
    <a href="/summary-student">Tổng kết</a>
  </div>
  <div class="user-menu">
    <i class="fas fa-question-circle" style="margin-right: 20px;"></i>
    <i class="fas fa-bell" style="margin-right: 20px;"></i>
    <img src="../../assets/img/skeleton-icon.png" alt="User Avatar" height="40" width="40" (click)="toggleDropdown()">
    <div class="dropdown" [class.active]="isDropdownActive">
      <div class="profile">
        <img src="../../assets/img/skeleton-icon.png" alt="User Avatar" height="50" width="50">
        <div class="info">
          <div class="name">{{ user?.username }}</div>
          <div class="email">{{ user?.email }}</div>
        </div>
        <a href="#" class="view-profile">Xem hồ sơ</a>
      </div>
      <div class="menu">
        <a href="#"><i class="fas fa-user-graduate"></i> Thông tin cá nhân</a>
        <a href="#"><i class="fas fa-cog"></i> Cài đặt chung</a>
        <a href="#" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="section">
    <h2>Lịch học</h2>
    <div class="empty-state">
      <img src="../../assets/img/pic4.png" alt="No Schedule" height="100" width="100">
      <div>Hiện tại không có lịch học</div>
    </div>
  </div>
  <div class="section">
    <h2>Bài kiểm tra</h2>
    <div class="empty-state">
      <img src="../../assets/img/pic5.png" alt="No Tests" height="100" width="100">
      <div>Hiện tại không có bài trắc nghiệm nào trong lịch sử gần đây</div>
    </div>
  </div>
</div>