.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  padding: 0 20px;

  .login-form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;

    h2 {
      margin-top: 0;
    }
    
    p {
      margin-bottom: 50px;
    }

    label {
      display: block;
      margin-bottom: 5px;
      
      a {
        color: #c0c0c0;
        text-decoration: none;
        
        &:hover {
          text-decoration: underline;
        }
      }
    }

    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
    
    button {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      border: none;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      
      &:hover {
        background-color: #0056b3;
      }
    }
    
    .form-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      
      label {
        display: flex;
        align-items: center;

        a {
          color: #ff0000;
          text-decoration: none;
          
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .login-options {
      display: flex;
      flex-direction: space-between;
      align-items: center;
      margin-top: 20px;

      .login-option {
        display: flex;
        align-items: center;
        cursor: pointer;
        width: 50%;
        max-width: 300px;
        padding: 20px;
        border-radius: 4px;
        background: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
        transition: background-color 0.2s, box-shadow 0.2s;

        &:hover {
          background-color: #f0f0f0;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        img {
          width: 24px;
          height: 24px;
          margin-right: 70px;
        }

        span {
          font-size: 16px;
          color: #333;
        }
      }

      .login-option-google {
        background-image: url('../../assets/google.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24px 24px;
      }

      .login-option-facebook {
        background-image: url('../../assets/facebook.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24px 24px;
      }
    }

    .register-link {
      color: #ff0000;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }

    .forgot-password {
      color: #ff0000;
      text-decoration: none;
      

      &:hover {
        text-decoration: underline;
      }
    }

    .or-login {
      color: #888; // Light gray color for "Hoặc đăng nhập bằng"
      font-size: 14px;
      margin-top: 50px;
      text-align: center
    }
  }

  .login-image {
    background: url('../../assets/login.png') no-repeat center center;
    background-size: contain;
    width: 500px;
    height: 500px;
  }
}
