<div class="exam-create-container">
    <div class="header">
        <h1>Tạo bài thi mới</h1>
        <button class="back-button" (click)="navigateBack()"><i class="fas fa-arrow-left"></i> Quay lại</button>
    </div>

    <form (ngSubmit)="onSubmit()">
        <!-- Phần thông tin chung của bài thi -->
        <div class="section-header" (click)="toggleSection('general')">
            <i [ngClass]="isSectionOpen['general'] ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
            <h2>Thông tin chung của bài thi</h2>
        </div>
        <div *ngIf="isSectionOpen['general']" class="section-content">
            <div class="form-group">
                <label for="examName">Tên bài thi</label>
                <input type="text" id="examName" [(ngModel)]="exam.name" name="examName" required />
            </div>

            <div class="form-group">
                <label for="description">Mô tả</label>
                <textarea id="description" [(ngModel)]="exam.description" name="description"></textarea>
            </div>

            <div class="form-group">
                <label for="startDate">Ngày bắt đầu</label>
                <input type="datetime-local" id="startDate" [(ngModel)]="exam.startDate" name="startDate" required />
            </div>

            <div class="form-group">
                <label for="endDate">Ngày kết thúc</label>
                <input type="datetime-local" id="endDate" [(ngModel)]="exam.endDate" name="endDate" required />
            </div>

            <div class="form-group">
                <label for="maxAttempts">Số lần thi tối đa</label>
                <input type="number" id="maxAttempts" [(ngModel)]="exam.maxAttempts" name="maxAttempts" min="1" />
            </div>

            <div class="form-group">
                <label for="duration">Thời gian làm bài (phút)</label>
                <input type="number" id="duration" [(ngModel)]="exam.duration" name="duration" min="1" required />
            </div>
        </div>

        <!-- Phần cài đặt nâng cao -->
        <div class="section-header" (click)="toggleSection('advanced')">
            <i [ngClass]="isSectionOpen['advanced'] ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
            <h2>Cài đặt nâng cao</h2>
        </div>
        <div *ngIf="isSectionOpen['advanced']" class="section-content">
            <div class="advanced-settings">
                <div class="form-group">
                    <label for="maxScore">Điểm tối đa cho bài kiểm tra</label>
                    <input type="number" id="maxScore" [(ngModel)]="exam.maxScore" name="maxScore" min="0" required />
                </div>

                <div class="form-group checkbox-group">
                    <label>
                        <span class="checkbox-label">Hệ thống sẽ tự động chia điểm bài thi</span>
                        <input type="checkbox" [(ngModel)]="exam.autoDistributeScore" name="autoDistributeScore">
                    </label>
                </div>

                <div class="form-group checkbox-group">
                    <label>
                        <span class="checkbox-label">Cho phép hiển thị bài làm của học viên</span>
                        <input type="checkbox" [(ngModel)]="exam.showStudentResult" name="showStudentResult">
                    </label>
                </div>

                <div class="form-group">
                    <label for="displayResults">Kết quả sẽ hiển thị</label>
                    <select id="displayResults" [(ngModel)]="exam.displayResults" name="displayResults">
                        <option value="afterGrading">Sau khi giáo viên chấm bài</option>
                        <option value="afterSubmission">Sau khi nộp bài</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="questionOrder">Số thứ tự câu hỏi</label>
                    <select id="questionOrder" [(ngModel)]="exam.questionOrder" name="questionOrder">
                        <option value="A, B, C">A, B, C...</option>
                        <option value="1, 2, 3">1, 2, 3...</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="questionsPerPage">Số câu hỏi trên trang làm bài</label>
                    <input type="number" id="questionsPerPage" [(ngModel)]="exam.questionsPerPage" name="questionsPerPage" min="1" />
                </div>
            </div>
        </div>

        <!-- Thêm câu hỏi -->
        <h2>Thêm câu hỏi</h2>
        <div *ngFor="let section of sections; let sectionIndex = index" class="section-container">
            <div class="section-header" (click)="toggleSection('section' + sectionIndex)">
                <i [ngClass]="isSectionOpen['section' + sectionIndex] ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
                <h3>Phần {{ sectionIndex + 1 }}</h3>
            </div>

            <div *ngIf="isSectionOpen['section' + sectionIndex]" class="section-content">
                <input type="text" placeholder="Nhập tiêu đề phần" [(ngModel)]="section.title" name="sectionTitle{{sectionIndex}}" />
                <textarea placeholder="Nhập mô tả" [(ngModel)]="section.description" name="sectionDescription{{sectionIndex}}"></textarea>

                <!-- Chọn danh mục, nhóm và câu hỏi -->

                <div class="filter-controls">
                    <label for="category">Danh mục:</label>
                    <select [(ngModel)]="selectedCategory" name="category" (ngModelChange)="onCategoryOrGroupChange()">
                        <option value="">Tất cả</option>
                        <option *ngFor="let category of uniqueCategories" [value]="category">{{ category }}</option>
                    </select>

                    <label for="group">Nhóm:</label>
                    <select [(ngModel)]="selectedGroup" name="group" (ngModelChange)="onCategoryOrGroupChange()">
                        <option value="">Tất cả</option>
                        <option *ngFor="let group of uniqueGroups" [value]="group">{{ group }}</option>
                    </select>
                    
                    <div class="filter-actions">
                      <button (click)="clearFilters()">Xóa bộ lọc</button>
                      <button (click)="filterQuestions()">Áp dụng</button>
                    </div>
                  </div>
                  
                  <div class="question-selection">
                    <label>Chọn câu hỏi:</label>
                    <select #questionSelect>
                      <option value="">Chọn câu hỏi</option>
                      <option *ngFor="let question of filteredQuestions" [value]="question._id">
                        {{ question.text }}
                      </option>
                    </select>
                    <!-- Truyền sectionIndex khi gọi hàm -->
                    <button type="button" (click)="addQuestionToSection(sectionIndex, questionSelect.value)">
                      Thêm câu hỏi
                    </button>
                  </div>
                  
                  
                <!-- Hiển thị câu hỏi đã chọn -->
                <div *ngFor="let question of section.questions; let questionIndex = index" class="question-container">
                    <div class="question-header">
                        <h4>Câu hỏi {{ questionIndex + 1 }}</h4>
                        <button type="button" class="remove-question" (click)="removeQuestionFromSection(sectionIndex, questionIndex)">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>

                    <div class="question-text">{{ question.text }}</div>

        
                    <!-- Nếu có audioFile (có URL âm thanh), hiển thị player để phát âm thanh và thay thế văn bản câu hỏi bằng "Chọn câu trả lời đúng" -->
                    <div *ngIf="question.text && question.text.startsWith('http')">
                        <p>Chọn câu trả lời đúng</p> <!-- Thông báo thay thế câu hỏi -->
                        <audio controls>
                            <source [src]="question.text" type="audio/mpeg">
                            Trình duyệt của bạn không hỗ trợ phát âm thanh.
                        </audio>
                    </div>
                    <!-- Câu trả lời -->
                    <div class="answers-list">
                        <div *ngFor="let answer of question.answers" class="answer-item">
                            <input type="radio" [checked]="answer.isCorrect" disabled>
                            <span [class.correct-answer]="answer.isCorrect">{{ answer.text }}</span>
                        </div>
                    </div>

                    <div class="score-container">
                        <label>Điểm:</label>
                        <input type="number" [(ngModel)]="question.score" name="score{{sectionIndex}}{{questionIndex}}" min="1" />
                    </div>
                </div>
            </div>
        </div>

        <!-- Nút thêm phần mới -->
        <div class="actions">
            <button type="button" (click)="addSection()">+ Thêm phần</button>
        </div>

        <!-- Nút tạo bài thi -->
        <div class="actions">
            <button type="submit" class="create-button" (click)="saveExam()">Tạo bài thi</button>
        </div>
    </form>
</div>
