
<div class="forgot-pw-container">
  <div class="forgot-pw-form">
    <p class="back-to-login">
      <a routerLink="/login">Quay lại đăng nhập</a>
    </p>
    <h2>Bạn quên mật khẩu</h2>
    <p style="color: #888">Đừng lo lắng. Hãy nhập mail của bạn để chúng tôi khởi tạo mật khẩu mới!</p>
    <form>
      <label for="email">Email:</label>
      <input type="email" id="email" required>
      <p><button type="submit">Chấp nhận</button></p>
    </form>
  </div>
  
  <div class="forgot-pw-image"></div>
</div>
