<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <i class="fa-solid fa-chevron-left"></i>
            <ul class="navbar-nav me-auto mb-4 mb-lg-0">
                <li class="nav-item ms-4">
                    <a class="nav-link active" aria-current="page" href="/home">TRANG CHỦ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <h1 class="text-center">Liên Hệ Hỗ Trợ</h1>
    <p>Nếu bạn cần hỗ trợ hoặc có bất kỳ câu hỏi nào, vui lòng liên hệ với chúng tôi qua các phương thức dưới đây:</p>

    <h2>Thông Tin Liên Hệ</h2>
    <p><strong>Điện Thoại:</strong> 0123456789</p>
    <p><strong>Email:</strong> {{email}}</p>
    <p><strong>Địa Chỉ:</strong> 179 Đặng Thùy Trâm, phường 13, quận Bình Thạnh, tp HCM</p>

    <h2>Giờ Làm Việc</h2>
    <p>Thứ Hai - Thứ Sáu: 9:00 - 18:00</p>
    <p>Thứ Bảy - Chủ Nhật: Đóng cửa</p>
</div>
<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-6 text-start">
            <h1 class="my-4">Thông tin liên hệ</h1>
            <div class="text-start">
                <p><i class="fa-solid fa-phone" style="margin-right: 5px;"></i>
                    0123456789</p>
                <p><i class="fa-solid fa-envelope" style="margin-right: 5px;"></i>
                    {{email}}</p>
                <p><i class="fa-solid fa-location-dot" style="margin-right: 5px;"></i>
                    179 Đặng Thùy Trâm, phường 13, quận Bình Thạnh, tp HCM</p>
            </div>
        </div>
        <div class="col-md-6">
            <h1 class="my-4">Điều khoản và hướng dẫn</h1>
            <div class="text-start">
                <p><a href="/terms">Điều khoản sử dụng</a><a href="/privacy">/ bảo mật thông tin</a></p>
                <p><a href="/guide">Hướng dẫn</a></p>
                <p><a href="/contact">Liên hệ hỗ trợ</a></p>
            </div>
        </div>
    </div>
    <hr style="border: 1px solid #000; margin: 0;" />
    <footer class="text-black text-center py-3 footer">
        <div class="container">
            <p>&copy; 2024 Group 77 | All Rights Reserved</p>
            <a href="#">Privacy Policy</a> |
            <a href="#">Terms of Service</a>
        </div>
    </footer>