
<div class="forgot-pw-container">
  <div class="forgot-pw-form">
    <p class="back-to-login">
      <a routerLink="/login">Quay lại đăng nhập</a>
    </p>
    <h2>Mã xác minh</h2>
    <p style="color: #888">Mã tự động được gửi vào mail của bạn</p>
    <form>
      <label for="text">Nhập mã</label>
      <input type="text" id="text" required>
      <p>Bạn chưa nhận được mã xác minh? <a class="resend">Gửi lại</a></p>
      <p><button type="submit">Xác minh</button></p>
    </form>
  </div>
  
  <div class="forgot-pw-image"></div>
</div>

