<div class="navbar">
  <div class="logo">
    <img src="../../assets/img/qye-challenge-logo.png" alt="Logo" height="30" width="30">
    <span>Quiz your English Challenge</span>
  </div>
  <div class="nav-links">
    <a href="/teacher-dashboard" class="active">Bài kiểm tra</a>
    <a href="/teacher-library">Thư viện câu hỏi</a>
  </div>
  <div class="user-menu">
    <i class="fas fa-question-circle" style="margin-right: 20px;"></i>
    <i class="fas fa-bell" style="margin-right: 20px;"></i>
    <img src="../../assets/img/skeleton-icon.png" alt="User Avatar" height="40" width="40" (click)="toggleDropdown()">
    <div class="dropdown" [class.active]="isDropdownActive">
      <div class="profile">
        <img src="../../assets/img/skeleton-icon.png" alt="User Avatar" height="50" width="50">
        <div class="info">
          <div class="name">{{ user?.username }}</div>
          <div class="email">{{ user?.email }}</div>
        </div>
      </div>
      <div class="menu">
        <a href="/profile"><i class="fas fa-user-graduate"></i> Thông tin cá nhân</a>
        <a href="/settings"><i class="fas fa-cog"></i> Cài đặt chung</a>
        <a href="#" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div style="display: flex; justify-content: flex-end;">
    <button class="create-button" (click)="navigateToCreateExam()">Tạo bài thi mới
      <i class="fas fa-plus"></i>
    </button>
  </div>
  
  <div class="section">
    <h2>Đang diễn ra</h2>
    <div *ngIf="activeExams.length > 0; else noActiveExams">
      <div *ngFor="let exam of activeExams" class="exam-item">
        <h3>{{ exam.name }}</h3>
        <p>{{ exam.description }}</p>
        <p>Thời gian: {{ exam.startDate | date }} - {{ exam.endDate | date }}</p>
        <p>Thời lượng: {{ exam.duration }} phút</p>
        <p>Điểm tối đa: {{ exam.maxScore }}</p>
  
        <!-- Action Buttons -->
        <div class="exam-actions">
          <button (click)="viewExamDetails(exam)">Xem chi tiết</button>
          <button (click)="editExam(exam)">Chỉnh sửa</button>
          <button (click)="deleteExam(exam)">Xóa</button>
          <button (click)="updateExamStatus(exam)">Tạo kì thi</button>
        </div>
      </div>
    </div>
    <ng-template #noActiveExams>
      <div class="empty-state">
        <img src="../../assets/img/pic01.png" alt="No Active Exams" height="100" width="100">
        <div>Hiện tại không có bài thi nào đang diễn ra</div>
      </div>
    </ng-template>
  </div>
  
  <div class="section">
    <h2>Đang soạn</h2>
    <div *ngIf="draftExams.length > 0; else noDraftExams">
      <div *ngFor="let exam of draftExams" class="exam-item">
        <h3>{{ exam.name }}</h3>
        <p>{{ exam.description }}</p>
        <p>Dự kiến bắt đầu: {{ exam.startDate | date }}</p>
        <p>Thời lượng: {{ exam.duration }} phút</p>
        <p>Điểm tối đa: {{ exam.maxScore }}</p>
  
        <!-- Action Buttons -->
        <div class="exam-actions">
          <button (click)="viewExamDetails(exam)">Xem chi tiết</button>
          <button (click)="editExam(exam)">Chỉnh sửa</button>
          <button (click)="deleteExam(exam)">Xóa</button>
          <button (click)="updateExamStatus(exam)">Tạo kì thi</button>
        </div>
      </div>
    </div>
    <ng-template #noDraftExams>
      <div class="empty-state">
        <img src="../../assets/img/pic02.png" alt="No Draft Exams" height="100" width="100">
        <div>Hiện tại không có bài thi nào đang soạn</div>
      </div>
    </ng-template>
  </div>
  <!-- Thêm phần Lịch sử bài kiểm tra -->
<div class="section">
  <h2>Lịch sử bài kiểm tra</h2>
  <div *ngIf="publishedExams.length > 0; else noPublishedExams">
    <div *ngFor="let exam of publishedExams" class="exam-item">
      <h3>{{ exam.name }}</h3>
      <p>{{ exam.description }}</p>
      <p>Thời gian: {{ exam.startDate | date }} - {{ exam.endDate | date }}</p>
      <p>Thời lượng: {{ exam.duration }} phút</p>
      <p>Điểm tối đa: {{ exam.maxScore }}</p>

      <!-- Action Buttons -->
      <div class="exam-actions">
        <button (click)="viewExamDetails(exam)">Xem chi tiết</button>
        <button (click)="navigateToStatistics(exam._id)">Tổng kết</button>
      </div>
    </div>
  </div>
  <ng-template #noPublishedExams>
    <div class="empty-state">
      <p>Hiện tại không có bài kiểm tra nào đã xuất bản.</p>
    </div>
  </ng-template>
</div>
</div>