input.form-control {
  border: 2px solid #86c0ff; /* Đặt màu viền và độ dày */
  border-radius: 4px; /* Giữ viền bo góc */
}

input.form-control:focus {
  border-color: #0056b3; /* Màu viền khi focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Hiệu ứng bóng khi focus */
}
.text-dark {
  text-decoration: none; /* Bỏ gạch chân mặc định */
}

.text-dark:hover {
  text-decoration: underline; /* Gạch chân khi hover */
}

