<!-- Nút Go Back -->
<button (click)="goBack()" class="go-back-button">Quay lại Dashboard</button>

<div class="nav-links"> 
  <<h1>Quản lý người dùng</h1>
  
</div>


<table>
  <thead>
    <tr>
      <th>Tên người dùng</th>
      <th>Email</th>
      <th>Vai trò</th>
      <th>Ngày tạo</th>
      <th>Ngày sinh</th>
      <th>Giới tính</th>
      <th>Số điện thoại</th>
      <th>Hành động</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
      <td>{{ user.createdAt | date: 'dd/MM/yyyy' }}</td>
      <td>{{ user.dateOfBirth | date: 'dd/MM/yyyy' }}</td>
      <td>{{ user.gender }}</td>
      <td>{{ user.phoneNumber }}</td>
      <td>
        <button (click)="updateUserRole(user, 'admin')">Set Admin</button>
        <button (click)="updateUserRole(user, 'teacher')">Set Teacher</button>
        <button (click)="updateUserRole(user, 'student')">Set Student</button>
        <button (click)="deleteUser(user)">Xóa</button>
      </td>
    </tr>
  </tbody>
</table>
