<!-- exam.component.html -->
<div *ngIf="exam">
    <h1>{{ exam.name }}</h1>
    <p>{{ exam.description }}</p>
    <p>Thời gian còn lại: {{ remainingTime }} giây</p>
    
    <form (ngSubmit)="submitExam()">
      <div *ngFor="let section of exam.sections">
        <h2>{{ section.title }}</h2>
        <div *ngFor="let question of section.questions">
          <p>{{ question.text }}</p>
          <div *ngFor="let answer of question.answers">
            <input type="radio" [value]="answer.isCorrect" [(ngModel)]="answers[question._id]" [name]="question._id">{{ answer.text }}
          </div>
        </div>
      </div>
      <button type="submit" [disabled]="remainingTime <= 0">Nộp bài</button>
    </form>
  </div>