<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <i class="fa-solid fa-chevron-left"></i>
            <ul class="navbar-nav me-auto mb-4 mb-lg-0">
                <li class="nav-item ms-4">
                    <a class="nav-link active" aria-current="page" href="/home">TRANG CHỦ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <h1 class="text-center">Điều Khoản Sử Dụng</h1>
    <h5>THỎA THUẬN ĐIỀU KHOẢN SỬ DỤNG DỊCH VỤ:</h5>
    <p>Thỏa thuận Dịch vụ này (“Thỏa thuận”) quy định các điều khoản, điều kiện và các quy định khi sử dụng các dịch vụ
        được
        cung cấp bởi Công ty Cổ phần Ninecode và Khách hàng hoặc Pháp nhân, tổ chức hoặc doanh nghiệp mà họ đại điện</p>

    <p>Bằng việc đăng ký dịch vụ của Ninequiz (tạm gọi tắt là “Dịch vụ” hoặc “Ninequiz”), khách hàng đồng ý cam kết với
        tất cả
        các điều khoản và điều kiện sau đây (gọi chung là “Điều khoản sử dụng”). Trong trường hợp khách hàng không đồng
        ý với
        bất kỳ điều khoản của Thỏa thuận, Khách hàng cần phải chấm dứt ngay lập tức việc sử dụng các dịch vụ của
        Ninequiz, xóa
        tất cả các chương trình và dữ liệu trên hệ thống của bạn.</p>

    <p>Ninequiz bảo lưu quyền chỉnh sửa, cập nhật và bổ sung một phần hoặc toàn bộ các quy định này bất cứ lúc nào mà
        không
        cần báo trước hoặc có sự đồng ý trước. Việc chỉnh sửa này sẽ có hiệu lực ngay khi được cập nhật trên website của
        Ninequiz.com. Ninequiz sẽ tiến hành gửi thông báo trên website và gửi về email của Khách hàng khi có cập nhật,
        Khách hàng thường xuyên kiểm tra tại đây đảm bảo quyền lợi của mình một cách đầy đủ nhất.</p>

    <h5>Điều 1. MÔ TẢ DỊCH VỤ</h5>
    <p>Dịch vụ bao gồm một dịch vụ trên web, hoặc ứng dụng di động cho phép bạn truy cập và sử dụng một tài khoản
        Ninequiz duy nhất. “Ninequiz” ở đây là một công cụ tạo và quản lý bài kiểm tra. Ninequiz có thể lưu trữ thông
        tin, dữ liệu, văn bản, hình ảnh, video, clip âm thanh… được tạo ra thông qua các tương tác trong quá trình sử
        dụng dịch vụ (gọi chung là “Nội dung”).</p>

    <p>Điều kiện sử dụng dịch vụ:</p>
    <ol>
        <li>Để có thể sử dụng dịch vụ, Khách hàng phải từ 13 tuổi trở lên.</li>
        <li>Cung cấp địa chỉ email hợp lệ và các thông tin khác theo yêu cầu để hoàn thành quá trình đăng ký.</li>
        <li>Có trách nhiệm giữ tài khoản và mật khẩu của mình an toàn. Ninequiz không thể và sẽ không chịu trách nhiệm
            cho bất kỳ tổn thất hoặc thiệt hại nào từ sự thiếu cẩn trọng của bạn trong việc bảo mật thông tin tài khoản.
        </li>
        <li>Trong trường hợp bạn vi phạm quy định về dịch vụ cũng như hệ thống hỗ trợ dịch vụ, chúng tôi có quyền hạn
            chế hoặc vô hiệu hóa quyền truy cập, sử dụng dịch vụ của bạn mà không cần thông báo.</li>
        <li>Vi phạm bất kỳ điều nào trong điều khoản sử dụng tài khoản, Ninequiz sẽ dừng ngay lập tức các dịch vụ của
            bạn.</li>
    </ol>

    <h5>Điều 2. HOÁ ĐƠN / THANH TOÁN</h5>
    <p>Các gói sử dụng có thể được thêm vào dịch vụ và cung cấp cho Khách hàng như một bản nâng cấp trả tiền. Ninequiz
        sẽ thu phí khi Khách hàng lựa chọn gói nâng cao. Khi lựa chọn trả phí, Khách hàng đồng ý cung cấp cho Ninequiz
        các thông tin thanh toán cần thiết (“Dữ liệu thanh toán”). Khách hàng có thể lựa chọn trả phí gói dịch vụ theo
        số lượng bài kiểm tra mà bạn sử dụng hàng tháng (tính phí dựa trên số lượng đã dùng).</p>
    <p>Ninequiz là một sản phẩm thuộc quyền sở hữu của Công ty cổ phần Ninecode vì vậy mọi giao dịch và thông tin xuất
        hoá đơn thuế giá trị gia tăng sẽ do Công ty cổ phần Ninecode thực hiện giao dịch và xuất hoá đơn cho Khách hàng.
    </p>

    <h5>Điều 3. QUYỀN SỞ HỮU / SỞ HỮU TRÍ TUỆ</h5>
    <p>Công ty cổ phần Ninecode sở hữu tất cả nội dung của Ninequiz như giao diện, thiết kế đồ họa, thương hiệu, nhãn
        hiệu dịch vụ, tên thương hiệu, logo và tài sản trí tuệ khác trong dịch vụ của Ninequiz. Bất kỳ ai truy cập vào
        Ninequiz đều không có quyền sử dụng hoặc sao chép bất kỳ nội dung, thương hiệu, nhãn hiệu dịch vụ, tên thương
        hiệu, logo hay bất kỳ tài sản trí tuệ nào khác.</p>
    <p>Bằng việc sử dụng hoặc truy cập dịch vụ, bạn đồng ý tuân thủ các quy định pháp luật về sở hữu trí tuệ hiện hành
        đối với vấn đề bảo hộ bản quyền, thương hiệu, nhãn hiệu dịch vụ, các dịch vụ, trang web và nội dung của chúng
        tôi.</p>

    <h5>Điều 4. HẠN CHẾ VỀ MẶT NỘI DUNG</h5>
    <p>Bạn hiểu rằng người tạo ra nội dung chịu hoàn toàn trách nhiệm về thông tin. Điều này có nghĩa rằng bạn, không
        phải là Ninequiz, hoàn toàn chịu trách nhiệm về tất cả các nội dung mà bạn tải lên, đăng tin, truyền tải hoặc
        cung cấp thông qua tài khoản của bạn. Ninequiz không kiểm soát nội dung người dùng đăng tải qua dịch vụ vì vậy
        không bảo đảm tính chính xác, nguyên vẹn hoặc chất lượng của nội dung.</p>

    <p>Bạn đồng ý rằng không:</p>
    <ol>
        <li>(A) Chống phá Nhà nước Cộng hòa Xã hội Chủ nghĩa Việt Nam, gây hại cho an ninh quốc gia và trật tự an toàn
            xã hội; tuyên truyền chiến tranh, khủng bố; gây thù hận và xung đột giữa các quốc gia, dân tộc và tôn giáo;
        </li>
        <li>(B) Tải lên, đăng tin, gửi hoặc cung cấp nội dung được cho là bất hợp pháp, trái thuần phong mỹ tục của
            người Việt Nam có hại, đe dọa, xúc phạm, quấy rối, nhục mạ, phản cảm, xâm phạm quyền riêng tư của người
            khác, hoặc phân biệt chủng tộc, sắc tộc hoặc các hành động đáng lên án khác. Tiết lộ bí mật nhà nước, quân
            sự, an ninh, kinh tế, đối ngoại và các bí mật khác theo quy định của pháp luật;</li>
        <li>(C) Lợi dụng dịch vụ để gây hại cho trẻ vị thành niên;</li>
        <li>(D) Mạo danh bất kỳ cá nhân hay tổ chức nào;</li>
        <li>(E) Giả mạo tiêu đề hoặc sửa đổi định dạng nhằm che giấu nguồn gốc của nội dung;</li>
        <li>(F) Tải lên, đăng tin hoặc chuyển bất kỳ nội dung nào mà bạn không có quyền được truyền đi; Đăng tải hoặc
            truyền nội dung vi phạm các bằng sáng chế, thương hiệu, bí mật thương mại, bản quyền, quyền riêng tư hoặc
            công khai, hoặc quyền sở hữu khác của bất kỳ bên nào;</li>
        <li>(G) Tải lên, đăng, gửi email, hoặc các hình thức khác cung cấp tài liệu quảng cáo, quảng bá trái phép hay
            thư rác;</li>
        <li>(H) Truyền tải bất kỳ loại virus hoặc mã độc nào có tính chất phá hoại;</li>
        <li>(I) Gây cản trở hoặc làm rối loạn dịch vụ, các máy chủ hoặc mạng kết nối với dịch vụ, hoặc không tuân theo
            bất kỳ yêu cầu, thủ tục, chính sách hoặc quy định của mạng kết nối với dịch vụ;</li>
        <li>(J) Cố tình hay vô tình vi phạm bất kỳ điều luật, chính sách hay quy định hiện hành nào của địa phương, quốc
            gia hoặc quốc tế;</li>
        <li>(K) Theo dõi hoặc quấy rối người khác;</li>
        <li>(L) Tuyên truyền hoặc cung cấp thông tin về các hoạt động bất hợp pháp, gây hại cho các cá nhân hay tổ chức;
        </li>
        <li>(M) Chào bán bất kỳ sản phẩm hay dịch vụ (i) Vi phạm pháp luật quốc gia, (ii) Bạn không có đủ thẩm quyền để
            chào bán, hoặc (iii) Ninequiz xác định là không phù hợp để bán thông qua các dịch vụ được cung cấp bởi
            Ninequiz;</li>
        <li>(N) Tiết lộ hoặc đánh cắp thông tin đăng nhập cá nhân mà không có sự cho phép của cá nhân hoặc tổ chức đã
            cung cấp nó cho bạn. Nếu bất kỳ người sử dụng nào được báo cáo là vi phạm quy định, Ninequiz có quyền đóng
            tài khoản này bất cứ lúc nào mà không cần cảnh báo thêm.</li>
    </ol>

    <h5>Điều 5. BẢO MẬT THÔNG TIN</h5>
    <ol>
        <li>Theo mục đích của Thỏa thuận này, “Thông tin Bảo mật” nghĩa là thông tin, tài liệu và dữ liệu được tạo, phát
            triển ra bởi quá trình thực hiện Thỏa thuận này, bao gồm nhưng không giới hạn thông tin được cung cấp bởi
            một bên cho Bên còn lại dưới dạng văn bản, tin nhắn dữ liệu điện tử hoặc các hình thức khác phù hợp với quy
            định pháp luật và thỏa thuận của cả hai bên.</li>
        <li>Người Nhận Thông tin Bảo mật (“Người nhận”) sẽ không sử dụng Thông tin Bảo mật của Bên Cung cấp (“Bên cung
            cấp”) cho các mục đích không được đề cập trước tại Thỏa thuận này, nếu Thỏa thuận này không cho phép tiết lộ
            Thông tin Bảo mật cho nhân viên của Người nhận, nhà thầu hoặc nhân viên công ty người cần được biết Thông
            tin Bảo mật với mục đích thực hiện thỏa thuận này; Người nhận các thông tin sau cũng có nghĩa vụ bảo mật
            Thông tin Bảo mật tương tự nghĩa vụ của Người nhận. Người nhận cam kết sử dụng nỗ lực tốt nhất để bảo vệ
            Thông tin Bảo mật tương tự là của chính Người nhận.</li>
    </ol>

    <h5>Điều 6. XỬ LÝ DỮ LIỆU KHI CHẤM DỨT DỊCH VỤ</h5>
    <ol>
        <li>Khách hàng đồng ý rằng khi Khách hàng xóa tài khoản của mình hoặc khi Ninequiz chấm dứt dịch vụ với Khách
            hàng thì tất cả thông tin, dữ liệu của Khách hàng (bao gồm nhưng không giới hạn các thông tin, dữ liệu mà
            Khách hàng đã gửi hoặc đã nhận) sẽ bị xóa ngay lập tức. Khách hàng hoàn toàn có trách nhiệm đối với các
            thông tin dữ liệu trước khi xóa tài khoản của mình.</li>
        <li>Ninequiz có thể lưu trữ nội dung của Khách hàng tối đa 90 ngày kể từ ngày Khách hàng xóa tài khoản của mình
            và không chịu trách nhiệm cho các thông tin dữ liệu mà Khách hàng đã gửi hoặc đã nhận.</li>
    </ol>

    <h5>Điều 7. CÁC QUY ĐỊNH KHÁC</h5>
    <p>Thỏa thuận này được điều chỉnh bởi pháp luật Việt Nam. Mọi tranh chấp phát sinh từ Thỏa thuận này sẽ được giải
        quyết tại tòa án có thẩm quyền tại Việt Nam.</p>
</div>
<div style="padding-top: 20px; padding-bottom: 100px;" id="contact"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-start">
                <h1 class="my-4">Thông tin liên hệ</h1>
                <div class="text-start">
                    <p><i class="fa-solid fa-phone" style="margin-right: 5px;"></i>
                        0123456789</p>
                    <p><i class="fa-solid fa-envelope" style="margin-right: 5px;"></i>
                        {{email}}</p>
                    <p><i class="fa-solid fa-location-dot" style="margin-right: 5px;"></i>
                        179 Đặng Thùy Trâm, phường 13, quận Bình Thạnh, tp HCM</p>
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="my-4">Điều khoản và hướng dẫn</h1>
                <div class="text-start">
                    <p><a href="/terms">Điều khoản sử dụng</a><a href="/privacy">/ bảo mật thông tin</a></p>
                    <p><a href="/guide">Hướng dẫn</a></p>
                    <p><a href="/contact">Liên hệ hỗ trợ</a></p>
            </div>
        </div>
    </div>
    <hr style="border: 1px solid #000; margin: 0;" />
    <footer class="text-black text-center py-3 footer">
        <div class="container">
            <p>&copy; 2024 Group 77 | All Rights Reserved</p>
            <a href="#">Privacy Policy</a> |
            <a href="#">Terms of Service</a>
        </div>
    </footer>