<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <i class="fa-solid fa-chevron-left"></i>
            <ul class="navbar-nav me-auto mb-4 mb-lg-0">
                <li class="nav-item ms-4">
                    <a class="nav-link active" aria-current="page" href="/home">TRANG CHỦ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <h1 class="text-center text-primary">CHÍNH SÁCH BẢO MẬT </h1>
    <p><strong>Có hiệu lực từ ngày 1 tháng 1 năm 2021</strong></p>

    <p>Chúng tôi nhận ra tầm quan trọng của quyền riêng tư. Chúng tôi muốn bạn cảm thấy tự
        tin khi sử dụng dịch vụ của chúng tôi và thông báo về quyền riêng tư này (“Thông báo về quyền riêng tư” hoặc
        “Thông báo”) là để giúp bạn hiểu và mô tả cách chúng tôi thu thập, sử dụng và tiết lộ thông tin của bạn.</p>

        <ul>
            <li>Chúng tôi thu thập thông tin gì và thu thập thông tin đó như thế nào</li>
            <li>Chúng tôi có thể chia sẻ thông tin với ai</li>
            <li>Cơ sở pháp lý để xử lý thông tin</li>
            <li>Quyền và lựa chọn của bạn</li>
            <li>Bảo mật và lưu trữ thông tin</li>
            <li>Trang web của bên thứ ba</li>
            <li>Tuân thủ các quy định bảo mật thông tin của Việt Nam</li>
            <li>Thông báo về các thay đổi</li>
            <li>Liên hệ với web</li>
        </ul>

    <p>Trong toàn bộ tài liệu này, chúng tôi sẽ sử dụng một số thuật ngữ để mô tả các sản phẩm và vai trò khác nhau. Tất
        cả văn bản, dữ liệu, thông tin, phần mềm, đồ họa, ảnh, v.v. mà chúng tôi và các chi nhánh của chúng tôi có thể
        cung cấp cho bạn, cộng với các trang web của chúng tôi và bất kỳ dịch vụ, plugin, phần mềm hoặc ứng dụng nào mà
        chúng tôi có thể cung cấp tất cả cùng nhau tạo thành “Trang web” của web. “Người dùng” của web là
        những người đã tạo tài khoản web và “Người được mời của web” là những người đã lên lịch gặp Người dùng
        web nhưng có thể đã đăng ký hoặc chưa đăng ký với web. “Người xem” web là người truy cập Trang
        web web nhưng có thể hoặc không phải là Người dùng web hoặc Người được web mời.</p>

    <p>Bất kỳ điều khoản nào được xác định trong Điều khoản sử dụng, thỏa thuận cấp phép người dùng cuối và phụ lục về
        xử lý dữ liệu và không được định nghĩa khác trong Thông báo về quyền riêng tư này đều được thông qua bằng cách
        tham chiếu trong thông báo về quyền riêng tư này.</p>

    <h5>THÔNG TIN CHÚNG TÔI THU THẬP</h5>
    <p>Chúng tôi thu thập thông tin về bạn trực tiếp từ bạn và tự động thông qua việc bạn sử dụng trang web của chúng
        tôi. Chúng tôi có thể kết hợp thông tin được thu thập tự động với thông tin khác mà chúng tôi đã thu thập về bạn
        bao gồm từ các nguồn có sẵn công khai.</p>

    <p>Để giúp bạn bảo vệ bản thân và thông tin của mình, chúng tôi khuyến khích bạn chỉ cung cấp thông tin cần thiết
        cho việc sử dụng trang web của chúng tôi. Ví dụ: để lên lịch một lớp học online, bạn có thể chỉ cần cung cấp cho
        chúng tôi tên, địa chỉ email, ngày và giờ.</p>

    <h5>THÔNG TIN BẠN TỰ NGUYỆN CUNG CẤP</h5>
    <p>Chúng tôi thu thập thông tin sau, trực tiếp từ Người dùng, Người được mời hoặc Người xem của web hoặc thông
        qua các bên thứ ba liên quan đến Người dùng, Người được mời hoặc Người xem.</p>
    <ol>
        <li>
            <strong> Thông tin cuộc hẹn.</strong>
            <p>Người dùng web, Người được mời hoặc bên thứ ba có thể tự nguyện cung cấp cho chúng tôi một số thông
                tin nhất định. Điều này có thể bao gồm tên, địa chỉ email và số điện thoại; địa chỉ email của người
                khác; chủ đề của lớp học; và bất kỳ thông tin nào khác được cung cấp cho chúng tôi hoặc theo yêu cầu của
                Người dùng web khi lên lịch, theo Điều khoản sử dụng của web. Nếu bạn nhận được lời mời từ
                Người dùng web nhưng không muốn trở thành Người dùng web, vui lòng liên hệ với Người dùng
                web đã gửi lời mời thông qua các phương tiện khác để thiết lập cuộc họp của bạn.</p>
        </li>
        <li>
            <strong> Thông báo lớp học trực tuyến.</strong>
            <p>Người dùng web có thể kết nối lịch của họ với web. Tích hợp lịch của chúng tôi chỉ kiểm tra
                thời lượng và trạng thái rảnh/bận của các sự kiện trong lịch của bạn để chúng tôi không đặt lịch cho bạn
                khi bạn bận. Chúng tôi không bao giờ lưu trữ người bạn đang gặp, địa chỉ email của họ, tiêu đề cuộc họp
                hoặc bất kỳ chi tiết nào khác về các cuộc hẹn trong lịch được kết nối của bạn.</p>
        </li>
        <li>
            <strong> Thông tin thanh toán.</strong>
            <p>Nếu bạn mua phiên bản cao cấp của web, bộ xử lý thanh toán bên thứ ba của chúng tôi sẽ thu thập và
                lưu trữ địa chỉ thanh toán và thông tin thẻ tín dụng của bạn. Chúng tôi lưu trữ bốn chữ số cuối của số
                thẻ tín dụng, loại thẻ và ngày hết hạn của bạn.</p>
        </li>
    </ol>

    <h5>THÔNG TIN ĐƯỢC THU THẬP TỰ ĐỘNG</h5>
    <p>Chúng tôi và Nhà cung cấp dịch vụ của chúng tôi sử dụng Cookie, đèn hiệu web và các công nghệ khác để nhận và lưu
        trữ một số loại thông tin nhất định khi bạn tương tác với chúng tôi thông qua máy tính hoặc thiết bị di động tùy
        thuộc vào tùy chọn không tham gia của bạn (xem Quyền và lựa chọn của bạn phần bên dưới). Việc sử dụng các công
        nghệ này giúp chúng tôi tùy chỉnh trải nghiệm của bạn với trang web của chúng tôi, cải thiện trải nghiệm của bạn
        và điều chỉnh các thông điệp tiếp thị. Dưới đây là một số loại thông tin chúng tôi thu thập:</p>
    <ol>
        <li>
            <strong> Nhật ký và dữ liệu thiết bị.</strong>
            <p>Khi bạn sử dụng web, máy chủ của chúng tôi sẽ tự động ghi lại thông tin (“dữ liệu nhật ký”), bao gồm
                thông tin mà trình duyệt của bạn gửi bất cứ khi nào bạn truy cập trang web của chúng tôi. Dữ liệu nhật
                ký này có thể bao gồm địa chỉ web bạn đã truy cập của chúng tôi, kiểu thiết bị, hệ điều hành, loại trình
                duyệt, mã định danh thiết bị duy nhất, địa chỉ IP, nhà cung cấp mạng di động và múi giờ hoặc vị trí.
                Việc chúng tôi thu thập một số hay tất cả thông tin này thường phụ thuộc vào loại thiết bị bạn đang sử
                dụng và cài đặt của nó. Ví dụ, nhiều loại thông tin khác nhau có sẵn tùy thuộc vào việc bạn đang sử dụng
                máy Mac hay PC, iPhone hay điện thoại Android. Để tìm hiểu thêm về những thông tin mà thiết bị của bạn
                cung cấp cho chúng tôi, vui lòng kiểm tra chính sách của nhà sản xuất thiết bị hoặc nhà cung cấp phần
                mềm của bạn.</p>
        </li>
        <li>
            <strong> Dữ liệu cookie.</strong>
            <p>Tùy thuộc vào cách bạn đang truy cập các dịch vụ của chúng tôi và tùy thuộc vào tùy chọn không tham gia
                của bạn, chúng tôi có thể sử dụng “Cookie” (một tệp văn bản nhỏ do máy tính của bạn gửi mỗi khi bạn truy
                cập trang web của chúng tôi, duy nhất cho tài khoản web hoặc trình duyệt của bạn) hoặc các công
                nghệ tương tự để ghi lại dữ liệu nhật ký. Khi chúng tôi sử dụng Cookie, chúng tôi có thể sử dụng Cookie
                ‘phiên’ (kéo dài cho đến khi bạn đóng trình duyệt của mình) hoặc Cookie ‘liên tục’ (kéo dài cho đến khi
                bạn hoặc trình duyệt của bạn xóa chúng). Ví dụ: chúng tôi có thể sử dụng Cookie để giúp bạn luôn đăng
                nhập vào web. Một số Cookie là cần thiết để trang web hoạt động, trong khi những cái khác có thể
                được sử dụng để cung cấp cho bạn các tính năng hoặc chức năng bổ sung hoặc để phân tích cách bạn sử dụng
                dịch vụ của chúng tôi. Bạn có thể điều chỉnh cài đặt của trình duyệt của mình để từ chối Cookie, nhưng
                điều đó có thể ảnh hưởng đến khả năng sử dụng trang web của chúng tôi.</p>
        </li>
        <li>
            <strong> Dữ liệu phân tích.</strong>
            <p>Chúng tôi có thể sử dụng các dịch vụ phân tích của bên thứ ba để theo dõi cách bạn tương tác với dịch vụ
                của chúng tôi và thông báo cho chúng tôi về cách cải thiện trang web của mình. Các dịch vụ này có thể
                thu thập thông tin về bạn, bao gồm địa chỉ IP, trình duyệt và hệ điều hành, thời gian và ngày, và hành
                động của bạn trên trang web của chúng tôi.</p>
        </li>
    </ol>

    <h5>CHIA SẺ THÔNG TIN</h5>
    <p>Chúng tôi có thể chia sẻ thông tin của bạn với những người khác trong một số tình huống nhất định, bao gồm:</p>
    <ol>
        <li><strong> Nhà cung cấp dịch vụ.</strong> Chúng tôi có thể chia sẻ thông tin với các nhà cung cấp dịch vụ mà
            chúng tôi sử dụng để thực hiện dịch vụ của mình, chẳng hạn như bộ xử lý thanh toán hoặc dịch vụ lưu trữ dữ
            liệu.</li>
        <li><strong> Cơ quan nhà nước.</strong> Chúng tôi có thể tiết lộ thông tin nếu chúng tôi tin rằng hành động đó
            là cần thiết để tuân thủ luật pháp, bảo vệ quyền và tài sản của chúng tôi, hoặc đảm bảo an toàn cho người
            khác.</li>
        <li><strong> Trong trường hợp chuyển nhượng.</strong> Nếu web tham gia vào một thương vụ, chẳng hạn như
            sáp nhập, mua lại hoặc bán tài sản, thông tin của bạn có thể được chuyển giao như một phần của thương vụ đó.
        </li>
    </ol>

    <h5>BẢO MẬT THÔNG TIN</h5>
    <p>Chúng tôi sử dụng các biện pháp bảo mật hợp lý để bảo vệ thông tin của bạn khỏi việc truy cập, sử dụng hoặc tiết
        lộ trái phép. Tuy nhiên, không có phương thức truyền tải qua Internet hoặc phương thức lưu trữ điện tử nào là
        hoàn toàn an toàn. Do đó, mặc dù chúng tôi cố gắng bảo vệ thông tin của bạn, chúng tôi không thể đảm bảo tính
        bảo mật tuyệt đối.</p>

    <h5>LIÊN HỆ VỚI CHÚNG TÔI</h5>
    <p>Nếu bạn có bất kỳ câu hỏi nào về Thông báo về quyền riêng tư này hoặc muốn thực hiện bất kỳ quyền nào mà bạn có, vui
        lòng liên hệ với chúng tôi qua email: {{email}}</p>
    </div>

<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-6 text-start">
            <h1 class="my-4">Thông tin liên hệ</h1>
            <div class="text-start">
                <p><i class="fa-solid fa-phone" style="margin-right: 5px;"></i>
                    0123456789</p>
                <p><i class="fa-solid fa-envelope" style="margin-right: 5px;"></i>
                    {{email}}</p>
                <p><i class="fa-solid fa-location-dot" style="margin-right: 5px;"></i>
                    179 Đặng Thùy Trâm, phường 13, quận Bình Thạnh, tp HCM</p>
            </div>
        </div>
        <div class="col-md-6">
            <h1 class="my-4">Điều khoản và hướng dẫn</h1>
            <div class="text-start">
                <p><a href="/terms">Điều khoản sử dụng</a><a href="/privacy">/ bảo mật thông tin</a></p>
                <p><a href="/guide">Hướng dẫn</a></p>
                <p><a href="/contact">Liên hệ hỗ trợ</a></p>
            </div>
        </div>
    </div>
    <hr style="border: 1px solid #000; margin: 0;" />
    <footer class="text-black text-center py-3 footer">
        <div class="container">
            <p>&copy; 2024 Group 77 | All Rights Reserved</p>
            <a href="#">Privacy Policy</a> |
            <a href="#">Terms of Service</a>
        </div>
    </footer>