
<div class="reset-pw-container">
  <div class="reset-pw-form">
    <h2>Đặt lại mật khẩu</h2>
    <p style="color: #888">Yêu cầu đặt lại mật khẩu của bạn đã được xác minh. Hãy đặt lại mật khẩu mới</p>
    <form>
      <label for="password">Tạo mật khẩu:</label>
      <input type="password" id="password" required>
      <br> <br>

      <label for="password">Nhập lại mật khẩu:</label>
      <input type="password" id="password" required>
      <br> <br>

      <p><button type="submit">Đặt lại mật khẩu</button></p>
    </form>
  </div>
  
  <div class="reset-pw-image"></div>
</div>

