input.form-control {
  border: 2px solid #86c0ff; /* Normal border */
  border-radius: 4px;
}

input.form-control:focus {
  border-color: #0056b3; /* Focused border color */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Focused box-shadow */
}

/* Error styling for inputs */
input.form-control.ng-invalid.ng-touched {
  border-color: #dc3545; /* Red border for invalid inputs */
  box-shadow: 0 0 5px rgba(220, 53, 69, 0.5); /* Error shadow */
}

.register-options {
  display: flex;
  justify-content: space-between; /* Correct the direction */
  align-items: center;
  margin-top: 20px;
}

.register-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s, box-shadow 0.2s;
}

.register-option:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error-message {
  color: #dc3545;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.success-message {
  color: #28a745;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.login-link {
  color: #ff0000;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}
