<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="row">
    <div class="register-form bg-white p-3 rounded shadow" style="max-width: 500px; width: 100%;">
      <h2>Đăng ký</h2>
      <p class="text-muted">Tạo tài khoản để trải nghiệm lộ trình học hot nhất</p>
      
      <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
        <div class="mb-6">
          <label for="firstName" class="form-label">Tên:</label>
          <input type="text" [(ngModel)]="firstName" name="firstName" id="firstName" class="form-control" required>
          <div *ngIf="registerForm.submitted && !firstName" class="text-danger">Tên là bắt buộc</div>
        </div>

        <div class="mb-6">
          <label for="lastName" class="form-label">Họ:</label>
          <input type="text" [(ngModel)]="lastName" name="lastName" id="lastName" class="form-control" required>
          <div *ngIf="registerForm.submitted && !lastName" class="text-danger">Họ là bắt buộc</div>
        </div>

        <div class="mb-6">
          <label for="email" class="form-label">Email:</label>
          <input type="email" [(ngModel)]="email" name="email" id="email" class="form-control" required>
          <div *ngIf="registerForm.submitted && !email" class="text-danger">Email là bắt buộc</div>
          <div *ngIf="registerForm.submitted && email && !isValidEmail(email)" class="text-danger">Email không hợp lệ</div>
          <div *ngIf="registerForm.submitted && email && emailExists" class="text-danger">Email đã được sử dụng</div>
        </div>
        

        <div class="mb-6">
          <label for="password" class="form-label">Mật khẩu:</label>
          <input type="password" [(ngModel)]="password" name="password" id="password" class="form-control" required>
          <div *ngIf="registerForm.submitted && !password" class="text-danger">Mật khẩu là bắt buộc</div>
          <div *ngIf="registerForm.submitted && password && !isValidPassword(password)" class="text-danger">Mật khẩu phải có ít nhất 8 ký tự, một chữ hoa và một số</div>
        </div>
      
        <div class="mb-3">
          <label for="confirm-password" class="form-label">Nhập lại mật khẩu:</label>
          <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" id="confirm-password" class="form-control" required>
          <div *ngIf="registerForm.submitted && confirmPassword !== password" class="text-danger">Mật khẩu không khớp</div>
        </div>

        <div class="form-check mb-3">
          <input type="checkbox" class="form-check-input" required>
          <label class="form-check-label terms-conditions" for="terms">Tôi đồng ý với tất cả các <b>Điều khoản và Chính sách quyền riêng tư</b></label>
        </div>

        <button type="submit" class="btn btn-primary w-100" [disabled]="!registerForm.valid">Tạo tài khoản</button>

        <p class="text-center mt-3">Bạn đã có tài khoản? <a class="register-link" routerLink="/login">Đăng nhập</a></p>
        
        
       
      </form>
      
      <!-- Display success or error message -->
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
      
    </div>
  </div>
  <div class="col-md-6 d-none d-md-block text-end">
    <img src="../../assets/img/user.png" alt="Description" class="img-fluid" width="400" height="400"/>
  </div>
</div>
