<h2>Đăng ký</h2><br><br>
<p>Tạo tài khoản để trải nghiệm lộ trình học hot nhất</p>
<form>
  <label for="fname">Họ:</label>
  <input type="text" id="fname" required><br><br>

  <label for="lname">Tên:</label>
  <input type="text" id="lname" required><br><br>

  <label for="email">Email:</label>
  <input type="email" id="email" required><br><br>

  <label for="password">Mật khẩu:</label>
  <input type="password" id="password" required><br><br>

  <label for="password">Nhập lại mật khẩu:</label>
  <input type="password" id="password" required><br><br>

  <label><input type="checkbox">Tôi đồng ý với tất cả các Điều khoản và Chính sách quyền riêng tư</label>

  <p><button type="submit">Tạo tài khoản</button></p>
</form>

<p>Bạn đã có tài khoản? <a routerLink="/login">Đăng nhập</a></p>
<p>Hoặc đăng ký bằng</p>
<div class="login-container">
    <button>Login with Google</button>
    <button>Login with Facebook</button>
</div>